# =====================================
# Environment Variables / Secrets
# =====================================
.env
.env.*

# =====================================
# Python Virtual Environment
# =====================================
.venv/
venv/
env/

# =====================================
# Python Cache
# =====================================
__pycache__/
*.py[cod]
*$py.class

# =====================================
# FAISS Vector Database
# Agar vector DB GitHub par upload nahi karna
# =====================================
*.faiss
*.pkl
academic_faiss/
fee_faiss/

# =====================================
# Temporary Files
# =====================================
*.tmp
temp/
tmp/

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# OS Files
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Render / Python Build Files
# =====================================
build/
dist/
*.egg-info/